*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    padding-left: 7rem;
    padding-top: 3rem;



}

.container button{
    /* border:none; */
    /* border-bottom:2px solid blue */
    font-size: 10px;

}


h2{

}

.button{
    display: flex;
    gap: 4rem;
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    width: 280px;
    font-size: 5px;
    /* text-align: center; */

}


#submit{
    background-color: #3080ed;
    width: 55px;
    border-radius: 5px;
    height: 27px;
    border: none;
    font-size: 10px;


}

#taskInput{
    height: 27px;
    width: 250px;
    border-radius: 5px;
    
}
    


.inpbutt{
    padding-top: 0.5rem;
    width: 1500px;
    height: 200px;
    /* padding-inline:1.5rem; */




}

